
// Body
$body-bg: #f6f9fc;
$front-bg: #ffffff;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
$font-family-sans-serif: -apple-system,"Nunito",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary:       #2879d9 !default;
$secondary:     #d7d7d7 !default;
$success:       #4cd964 !default;
$info:          #5ac8fa !default;
$warning:       #ff9500 !default;
$danger:        #ff3b30 !default;
$light:         #f0f0f0 !default;
$dark:          #4a4a4a !default;