
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-weight: normal;
}

.body-bg {
  background-color: $body-bg;
}

.front-bg {
  background-color: $front-bg;
}
